<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Add Gazebo plugins for simulation -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="wheel_front_left">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wheel_front_right">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wheel_back_left">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wheel_back_right">
    <material>Gazebo/Black</material>
  </gazebo>

</robot>
